body{
    background: rgb(241, 198, 241);
}

header{
    color: whitesmoke;
    text-align: center;

}
div {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;

}